*{
    box-sizing: border-box;
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.preview_section{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 75%;
    margin-top: 30px;
}
.form_section{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3efe7;
    padding: 20px;
}
input {
    height: 45px; 
}
input, textarea {
    width:100%;
    margin-bottom: 1em;
    font-size: .9em;
    font-weight: 300;
    padding: .5em 1em;
    border: none;
    color: #302f2f;
    font-weight: 300;
}
button{
    cursor: pointer;
    margin: 0;
    padding: .5em 2em;
    background: #636363;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    width:100%;
    margin-top: 20px;
}